.linha{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    border-style:double ;
    border: 2px solid lightcoral ;
    border-radius: 8px;
}

h1{
    text-align: center
}

.App{
    max-width: 900px;
    margin: auto;
}
